# DO NOT INCLUDE .env, as this contains secrets
.env

# for internal testing
app

# "data" folder should not be uploaded to git, in best case scenario dockerfile should run script to ingest data 
# for notebooks to function
data
*.parquet

# cpython code should not be pushed to the repo
*.pyc
